watch_file .tool-versions

asdf_has java || asdf plugin-add java
asdf install | sed '/is already installed/d'

use asdf

PATH_add bin

# Set JAVA_HOME
export JAVA_HOME="$(dirname "$(dirname "$(expand_path "$(asdf which java)")")")"

# ensure orbstack is using local domain names
export AH_DB_URL=jdbc:postgresql://ah-db.orb.local:5432/ah
export AH_DB_USER=admin
export AH_DB_PASSWORD=admin
export AH_LOG_LEVEL=SEVERE
